body{
    background-color: greenyellow;
}
.one{
    background-color: lightgreen;
}
.two{
    background-color: lightgreen;
}
h1{
    background-color: lightgreen;
}
h2{
    background-color: lightgreen;
}
h3{
    background-color: lightgreen;
}
p{
    background-color: lightgreen;
}